html
   head
      link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css", integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK", crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js",  integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d", crossorigin="anonymous")
   body
      if info
         h1.alert.alert-danger.text-center=info
      if warn
         h1.alert.alert-warning.text-center #{warn}
      form.mx-auto.border.border-danger.w-25.p-3(method="post")
         div.form-group
            label Username:
            input.form-control(type="text" name="username" placeholder=" Enter user name " value="demo")
         div.form-group
            label Password:
            input.form-control(type="password" name="password" value="demo")
         div.form-group
            input.btn.btn-danger(type="submit" value="Login")
